Repository OpenZeppelin/contracts-wizard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts, @OpenZeppelin/cairo, @OpenZeppelin/stylus, @OpenZeppelin/stellar

.github/CODEOWNERS:

# Path Owners
* @OpenZeppelin/wizard
/packages/core/solidity @OpenZeppelin/contracts @OpenZeppelin/wizard
/packages/ui/src/solidity @OpenZeppelin/contracts @OpenZeppelin/wizard
/packages/core/cairo @OpenZeppelin/cairo @OpenZeppelin/wizard
/packages/core/cairo_alpha @OpenZeppelin/cairo @OpenZeppelin/wizard
/packages/ui/src/cairo @OpenZeppelin/cairo @OpenZeppelin/wizard
/packages/ui/src/cairo_alpha @OpenZeppelin/cairo @OpenZeppelin/wizard
/packages/core/stylus @OpenZeppelin/stylus @OpenZeppelin/wizard
/packages/ui/src/stylus @OpenZeppelin/stylus @OpenZeppelin/wizard
/packages/core/stellar @OpenZeppelin/stellar @OpenZeppelin/wizard
/packages/ui/src/stellar @OpenZeppelin/stellar @OpenZeppelin/wizard

Restore Governor, votes, permit
  packages/ui/api/ai-assistant/function-definitions/polkadot.ts
  packages/ui/src/polkadot/App.svelte
  packages/ui/src/polkadot/handle-unsupported-features.ts
  packages/ui/src/polkadot/remove-unsupported-features.ts
  packages/ui/src/solidity/App.svelte
  packages/ui/src/solidity/ERC20Controls.svelte
  packages/ui/src/solidity/ERC721Controls.svelte
  packages/ui/src/solidity/StablecoinControls.svelte
  packages/ui/src/solidity/overrides.ts
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

Disable download Hardhat for Polkadot for now
  packages/ui/src/polkadot/App.svelte
  packages/ui/src/solidity/App.svelte
  packages/ui/src/solidity/overrides.ts
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

Restore Governor for AI assistant
  packages/ui/api/ai-assistant/types/languages.ts
Owners: @OpenZeppelin/wizard

Remove todo
  packages/ui/src/solidity/remix.ts
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

Fix AI function defs
  packages/ui/api/ai-assistant/function-definitions/polkadot.ts
Owners: @OpenZeppelin/wizard

Remove sample messages override
  packages/ui/src/polkadot/App.svelte
  packages/ui/src/solidity/App.svelte
  packages/ui/src/solidity/overrides.ts
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

Avoid circular type
  packages/ui/api/ai-assistant/types/languages.ts
Owners: @OpenZeppelin/wizard

Fix lint
  packages/ui/api/ai-assistant/types/languages.ts
Owners: @OpenZeppelin/wizard

Unify upgradeability of Account with the other types of contract (#658)
  .changeset/lovely-groups-run.md
  packages/core/solidity/src/account.test.ts.md
  packages/core/solidity/src/account.test.ts.snap
  packages/core/solidity/src/account.ts
  packages/core/solidity/src/contract.ts
  packages/core/solidity/src/erc1155.test.ts.md
  packages/core/solidity/src/erc1155.test.ts.snap
  packages/core/solidity/src/erc20.test.ts.md
  packages/core/solidity/src/erc20.test.ts.snap
  packages/core/solidity/src/governor.test.ts.md
  packages/core/solidity/src/governor.test.ts.snap
  packages/core/solidity/src/helpers.ts
  packages/core/solidity/src/options.ts
  packages/core/solidity/src/print.ts
  packages/core/solidity/src/set-upgradeable.ts
  packages/core/solidity/src/signer.ts
  packages/core/solidity/src/zip-foundry.test.ts
  packages/core/solidity/src/zip-foundry.test.ts.md
  packages/core/solidity/src/zip-foundry.test.ts.snap
  packages/core/solidity/src/zip-foundry.ts
  packages/core/solidity/src/zip-hardhat.test.ts
  packages/core/solidity/src/zip-hardhat.test.ts.md
  packages/core/solidity/src/zip-hardhat.test.ts.snap
  packages/core/solidity/src/zip-hardhat.ts
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

rename create -> deploy
  packages/core/solidity/src/account.test.ts.md
  packages/core/solidity/src/account.test.ts.snap
  packages/core/solidity/src/account.ts
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

support uups
  packages/core/solidity/src/account.test.ts
  packages/core/solidity/src/account.test.ts.md
  packages/core/solidity/src/account.test.ts.snap
  packages/core/solidity/src/account.ts
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

lint
  packages/core/solidity/src/account.test.ts
  packages/core/solidity/src/account.ts
  packages/core/solidity/src/zip-foundry.test.ts
  packages/core/solidity/src/zip-hardhat.test.ts
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

Add missing imports when account use ERC-7579 without a signer + consolidate imports
  packages/core/solidity/src/account.test.ts.md
  packages/core/solidity/src/account.test.ts.snap
  packages/core/solidity/src/account.ts
  packages/core/solidity/src/custom.test.ts.md
  packages/core/solidity/src/custom.test.ts.snap
  packages/core/solidity/src/erc1155.test.ts.md
  packages/core/solidity/src/erc1155.test.ts.snap
  packages/core/solidity/src/erc20.test.ts.md
  packages/core/solidity/src/erc20.test.ts.snap
  packages/core/solidity/src/erc721.test.ts.md
  packages/core/solidity/src/erc721.test.ts.snap
  packages/core/solidity/src/governor.test.ts.md
  packages/core/solidity/src/governor.test.ts.snap
  packages/core/solidity/src/print.ts
  packages/core/solidity/src/stablecoin.test.ts.md
  packages/core/solidity/src/stablecoin.test.ts.snap
  packages/core/solidity/src/zip-foundry.test.ts.md
  packages/core/solidity/src/zip-foundry.test.ts.snap
  packages/core/solidity/src/zip-hardhat.test.ts.md
  packages/core/solidity/src/zip-hardhat.test.ts.snap
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

add changeset
  .changeset/sour-poems-stop.md
Owners: @OpenZeppelin/wizard

refactor
  packages/core/solidity/src/print.ts
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

refactor
  packages/core/solidity/src/print.ts
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

lint
  packages/core/solidity/src/print.ts
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

Use memory bytes in constructor
  packages/core/solidity/src/account.test.ts.md
  packages/core/solidity/src/account.test.ts.snap
  packages/core/solidity/src/account.ts
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

Improve inferTranspiled to reduce the need for transpiled: false
  packages/core/solidity/src/account.ts
  packages/core/solidity/src/governor.ts
  packages/core/solidity/src/infer-transpiled.test.ts
  packages/core/solidity/src/infer-transpiled.ts
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

more tests
  packages/core/solidity/src/infer-transpiled.test.ts
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

Add signer false option for compile tests, use exported options
  packages/core/solidity/src/generate/account.ts
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

Update post config language
  packages/ui/src/common/languages-types.ts
  packages/ui/src/solidity/App.svelte
  packages/ui/src/solidity/overrides.ts
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

Combine imports from same file, cherry-picked from #661
  packages/core/confidential/src/confidentialFungible.test.ts.md
  packages/core/confidential/src/confidentialFungible.test.ts.snap
  packages/core/confidential/src/zip-hardhat.test.ts.md
  packages/core/confidential/src/zip-hardhat.test.ts.snap
  packages/core/solidity/src/print.ts
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

Only import FHE when needed
  packages/core/confidential/src/confidentialFungible.test.ts.md
  packages/core/confidential/src/confidentialFungible.test.ts.snap
  packages/core/confidential/src/confidentialFungible.ts
Owners: @OpenZeppelin/wizard

Update Cairo alpha version
  packages/core/cairo_alpha/src/utils/version.ts
  packages/core/cairo_alpha/test_project/Scarb.lock
  packages/core/cairo_alpha/test_project/Scarb.toml
Owners: @OpenZeppelin/cairo, @OpenZeppelin/wizard

Update alpha version in Cairo-alpha snapshots
  packages/core/cairo_alpha/src/account.test.ts.md
  packages/core/cairo_alpha/src/account.test.ts.snap
  packages/core/cairo_alpha/src/contract.test.ts.md
  packages/core/cairo_alpha/src/contract.test.ts.snap
  packages/core/cairo_alpha/src/custom.test.ts.md
  packages/core/cairo_alpha/src/custom.test.ts.snap
  packages/core/cairo_alpha/src/erc1155.test.ts.md
  packages/core/cairo_alpha/src/erc1155.test.ts.snap
  packages/core/cairo_alpha/src/erc20.test.ts.md
  packages/core/cairo_alpha/src/erc20.test.ts.snap
  packages/core/cairo_alpha/src/erc721.test.ts.md
  packages/core/cairo_alpha/src/erc721.test.ts.snap
  packages/core/cairo_alpha/src/governor.test.ts.md
  packages/core/cairo_alpha/src/governor.test.ts.snap
  packages/core/cairo_alpha/src/multisig.test.ts.md
  packages/core/cairo_alpha/src/multisig.test.ts.snap
  packages/core/cairo_alpha/src/vesting.test.ts.md
  packages/core/cairo_alpha/src/vesting.test.ts.snap
Owners: @OpenZeppelin/cairo, @OpenZeppelin/wizard

Add changelog entry
  packages/core/cairo_alpha/CHANGELOG.md
Owners: @OpenZeppelin/cairo, @OpenZeppelin/wizard

Remove redundant OZ prefixes in library comments
  packages/core/confidential/src/confidentialFungible.test.ts.md
  packages/core/confidential/src/confidentialFungible.test.ts.snap
  packages/core/confidential/src/zip-hardhat.test.ts.md
  packages/core/confidential/src/zip-hardhat.test.ts.snap
  packages/core/solidity/src/print.ts
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

Cairo: Support v3.0.0-alpha.2 (#663)
  packages/core/cairo_alpha/CHANGELOG.md
  packages/core/cairo_alpha/src/account.test.ts.md
  packages/core/cairo_alpha/src/account.test.ts.snap
  packages/core/cairo_alpha/src/contract.test.ts.md
  packages/core/cairo_alpha/src/contract.test.ts.snap
  packages/core/cairo_alpha/src/custom.test.ts.md
  packages/core/cairo_alpha/src/custom.test.ts.snap
  packages/core/cairo_alpha/src/erc1155.test.ts.md
  packages/core/cairo_alpha/src/erc1155.test.ts.snap
  packages/core/cairo_alpha/src/erc20.test.ts.md
  packages/core/cairo_alpha/src/erc20.test.ts.snap
  packages/core/cairo_alpha/src/erc721.test.ts.md
  packages/core/cairo_alpha/src/erc721.test.ts.snap
  packages/core/cairo_alpha/src/governor.test.ts.md
  packages/core/cairo_alpha/src/governor.test.ts.snap
  packages/core/cairo_alpha/src/multisig.test.ts.md
  packages/core/cairo_alpha/src/multisig.test.ts.snap
  packages/core/cairo_alpha/src/utils/version.ts
  packages/core/cairo_alpha/src/vesting.test.ts.md
  packages/core/cairo_alpha/src/vesting.test.ts.snap
  packages/core/cairo_alpha/test_project/Scarb.lock
  packages/core/cairo_alpha/test_project/Scarb.toml
Owners: @OpenZeppelin/cairo, @OpenZeppelin/wizard

Define version pins for fhevm/solidity and confidential-contracts
  packages/core/confidential/.gitignore
  packages/core/confidential/contract-version-pins.d.ts
  packages/core/confidential/openzeppelin-contracts.d.ts
  packages/core/confidential/package.json
  packages/core/confidential/src/index.ts
  packages/core/confidential/src/print.ts
  packages/core/confidential/src/scripts/prepare.ts
  packages/core/confidential/src/utils/version.test.ts
  packages/core/confidential/src/utils/version.ts
Owners: @OpenZeppelin/wizard

Inject hyperlinks
  packages/ui/src/confidential/inject-hyperlinks.ts
  packages/ui/src/main.ts
Owners: @OpenZeppelin/wizard

Pin versions for all dependencies in Remix
  packages/core/confidential/print-versioned.js
  packages/core/confidential/print-versioned.ts
  packages/core/confidential/src/print-versioned.ts
  packages/core/confidential/src/print.ts
  packages/ui/src/confidential/App.svelte
Owners: @OpenZeppelin/wizard

rename chat type, remove quodo ignore, remove mapping
  .gitignore
  .qodo/testConfig.toml
  packages/ui/api/ai-assistant/types/assistant.ts
  packages/ui/api/ai.ts
  packages/ui/api/services/open-ai.ts
  packages/ui/api/services/redis.ts
  packages/ui/import_map.json
  tmp.json
Owners: @OpenZeppelin/wizard

Update headers
  packages/ui/api/ai.ts
Owners: @OpenZeppelin/wizard

Add placeholders and fix argument handling in Hardhat package
  packages/core/confidential/src/zip-hardhat.ts
Owners: @OpenZeppelin/wizard

Fix lint, remove unused params in zip-hardhat
  packages/common/src/ai/descriptions/confidential.ts
  packages/core/confidential/src/print-versioned.ts
  packages/core/confidential/src/scripts/prepare.ts
  packages/core/confidential/src/utils/version.ts
  packages/core/confidential/src/zip-hardhat.ts
  packages/mcp/src/confidential/schemas.ts
  packages/mcp/src/confidential/tools/confidentialFungible.ts
  packages/ui/api/ai-assistant/function-definitions/confidential.ts
  packages/ui/src/confidential/App.svelte
  packages/ui/src/confidential/inject-hyperlinks.ts
Owners: @OpenZeppelin/wizard

Adjust docker context in ci
  .github/workflows/docker-prod.yaml
  .github/workflows/docker-stg.yaml
Owners: @OpenZeppelin/wizard

use setup instead of prepare
  .github/workflows/docker-prod.yaml
Owners: @OpenZeppelin/wizard

Fix handling of non-address args in zip-hardhat for solidity
  packages/core/solidity/src/zip-hardhat.ts
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

Update solidity snapshots
  packages/core/solidity/src/account.test.ts.md
  packages/core/solidity/src/account.test.ts.snap
  packages/core/solidity/src/contract.test.ts.md
  packages/core/solidity/src/contract.test.ts.snap
  packages/core/solidity/src/custom.test.ts.md
  packages/core/solidity/src/custom.test.ts.snap
  packages/core/solidity/src/erc1155.test.ts.md
  packages/core/solidity/src/erc1155.test.ts.snap
  packages/core/solidity/src/erc20.test.ts.md
  packages/core/solidity/src/erc20.test.ts.snap
  packages/core/solidity/src/erc721.test.ts.md
  packages/core/solidity/src/erc721.test.ts.snap
  packages/core/solidity/src/governor.test.ts.md
  packages/core/solidity/src/governor.test.ts.snap
  packages/core/solidity/src/stablecoin.test.ts.md
  packages/core/solidity/src/stablecoin.test.ts.snap
  packages/core/solidity/src/zip-foundry.test.ts.md
  packages/core/solidity/src/zip-foundry.test.ts.snap
  packages/core/solidity/src/zip-hardhat.test.ts.md
  packages/core/solidity/src/zip-hardhat.test.ts.snap
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard
