Repository OpenZeppelin/contracts-wizard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts, @OpenZeppelin/cairo, @OpenZeppelin/stylus, @OpenZeppelin/stellar

Add generated tests
  packages/core/stellar/src/contract.test.ts
  packages/ui/api/stellar/tests/environment/zip_folder.rs
  packages/ui/api/stellar/tests/utils/glob.rs
Owners: @OpenZeppelin/stellar, @OpenZeppelin/wizard

Move toByteArray in contract model
  packages/core/stellar/src/contract.ts
  packages/core/stellar/src/print.ts
Owners: @OpenZeppelin/stellar, @OpenZeppelin/wizard

feat: update version and test project
  packages/core/cairo_alpha/src/utils/version.ts
  packages/core/cairo_alpha/test_project/Scarb.lock
  packages/core/cairo_alpha/test_project/Scarb.toml
Owners: @OpenZeppelin/cairo, @OpenZeppelin/wizard

feat: update snapshots
  packages/core/cairo_alpha/src/account.test.ts.md
  packages/core/cairo_alpha/src/account.test.ts.snap
  packages/core/cairo_alpha/src/contract.test.ts.md
  packages/core/cairo_alpha/src/contract.test.ts.snap
  packages/core/cairo_alpha/src/custom.test.ts.md
  packages/core/cairo_alpha/src/custom.test.ts.snap
  packages/core/cairo_alpha/src/erc1155.test.ts.md
  packages/core/cairo_alpha/src/erc1155.test.ts.snap
  packages/core/cairo_alpha/src/erc20.test.ts.md
  packages/core/cairo_alpha/src/erc20.test.ts.snap
  packages/core/cairo_alpha/src/erc721.test.ts.md
  packages/core/cairo_alpha/src/erc721.test.ts.snap
  packages/core/cairo_alpha/src/governor.test.ts.md
  packages/core/cairo_alpha/src/governor.test.ts.snap
  packages/core/cairo_alpha/src/multisig.test.ts.md
  packages/core/cairo_alpha/src/multisig.test.ts.snap
  packages/core/cairo_alpha/src/vesting.test.ts.md
  packages/core/cairo_alpha/src/vesting.test.ts.snap
Owners: @OpenZeppelin/cairo, @OpenZeppelin/wizard

[Stellar] security contact as contract metadata (#679)
  .changeset/silent-bags-repair.md
  packages/core/stellar/src/contract.test.ts
  packages/core/stellar/src/contract.test.ts.md
  packages/core/stellar/src/contract.test.ts.snap
  packages/core/stellar/src/contract.ts
  packages/core/stellar/src/fungible.compile.test.ts
  packages/core/stellar/src/print.ts
  packages/core/stellar/src/set-info.ts
Owners: @OpenZeppelin/wizard, @OpenZeppelin/stellar

chore: refactor the release workflows
  .github/actions/oidc/action.yaml
  .github/workflows/docker-prod.yaml
  .github/workflows/docker-stg.yaml
Owners: @OpenZeppelin/wizard

feat: update CHANGELOG
  packages/core/cairo_alpha/CHANGELOG.md
Owners: @OpenZeppelin/cairo, @OpenZeppelin/wizard

apply fixes from pr review
  .gitmodules
  package-lock.json
  packages/core/uniswap-hooks/.gitignore
  packages/core/uniswap-hooks/CHANGELOG.md
  packages/core/uniswap-hooks/package.json
  packages/core/uniswap-hooks/src/build-generic.ts
  packages/core/uniswap-hooks/src/hooks.test.ts.md
  packages/core/uniswap-hooks/src/hooks.test.ts.snap
  packages/core/uniswap-hooks/src/hooks.ts
  packages/ui/deno.lock
  packages/ui/public/uniswap-hooks.html
  packages/ui/src/uniswap-hooks/AccessControlSection.svelte
  packages/ui/src/uniswap-hooks/App.svelte
  packages/ui/src/uniswap-hooks/HooksControls.svelte
  packages/ui/src/uniswap-hooks/InfoSection.svelte
  packages/ui/src/uniswap-hooks/highlightjs.ts
  packages/ui/src/uniswap-hooks/inject-hyperlinks.ts
  packages/ui/src/uniswap-hooks/remix.ts
  yarn.lock
Owners: @OpenZeppelin/wizard

Update CHANGELOG.md
  packages/core/uniswap-hooks/CHANGELOG.md
Owners: @OpenZeppelin/wizard

add uniswap hooks to github test workflow matrix
  .github/workflows/test.yml
Owners: @OpenZeppelin/wizard

import solidity version from solidity package and bump compatible semver
  packages/core/uniswap-hooks/hardhat.config.js
  packages/core/uniswap-hooks/src/.solidity-version.json
  packages/core/uniswap-hooks/src/utils/version.ts
Owners: @OpenZeppelin/wizard

Update snapshots
  packages/core/solidity/src/stablecoin.test.ts.md
  packages/core/solidity/src/stablecoin.test.ts.snap
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

Add changeset
  .changeset/twelve-bananas-fry.md
Owners: @OpenZeppelin/wizard

Remove package-lock, update yarn.lock
  package-lock.json
  yarn.lock
Owners: @OpenZeppelin/wizard

Restore deno lock
  packages/ui/deno.lock
Owners: @OpenZeppelin/wizard

Update git dependency format
  packages/core/uniswap-hooks/package.json
Owners: @OpenZeppelin/wizard

.github/CODEOWNERS:

# Path Owners
* @OpenZeppelin/wizard
/packages/core/solidity @OpenZeppelin/contracts @OpenZeppelin/wizard
/packages/ui/src/solidity @OpenZeppelin/contracts @OpenZeppelin/wizard
/packages/core/cairo @OpenZeppelin/cairo @OpenZeppelin/wizard
/packages/core/cairo_alpha @OpenZeppelin/cairo @OpenZeppelin/wizard
/packages/ui/src/cairo @OpenZeppelin/cairo @OpenZeppelin/wizard
/packages/ui/src/cairo_alpha @OpenZeppelin/cairo @OpenZeppelin/wizard
/packages/core/stylus @OpenZeppelin/stylus @OpenZeppelin/wizard
/packages/ui/src/stylus @OpenZeppelin/stylus @OpenZeppelin/wizard
/packages/core/stellar @OpenZeppelin/stellar @OpenZeppelin/wizard
/packages/ui/src/stellar @OpenZeppelin/stellar @OpenZeppelin/wizard
