Repository OpenZeppelin/contracts-wizard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts, @OpenZeppelin/cairo, @OpenZeppelin/stylus, @OpenZeppelin/stellar

.github/CODEOWNERS:

# Path Owners
* @OpenZeppelin/wizard
/packages/core/solidity @OpenZeppelin/contracts @OpenZeppelin/wizard
/packages/ui/src/solidity @OpenZeppelin/contracts @OpenZeppelin/wizard
/packages/core/cairo @OpenZeppelin/cairo @OpenZeppelin/wizard
/packages/core/cairo_alpha @OpenZeppelin/cairo @OpenZeppelin/wizard
/packages/ui/src/cairo @OpenZeppelin/cairo @OpenZeppelin/wizard
/packages/ui/src/cairo_alpha @OpenZeppelin/cairo @OpenZeppelin/wizard
/packages/core/stylus @OpenZeppelin/stylus @OpenZeppelin/wizard
/packages/ui/src/stylus @OpenZeppelin/stylus @OpenZeppelin/wizard
/packages/core/stellar @OpenZeppelin/stellar @OpenZeppelin/wizard
/packages/ui/src/stellar @OpenZeppelin/stellar @OpenZeppelin/wizard

Cherry-pick zip-hardhat changes from https://github.com/OpenZeppelin/contracts-wizard/pull/652
  packages/core/solidity/src/zip-hardhat.test.ts.md
  packages/core/solidity/src/zip-hardhat.test.ts.snap
  packages/core/solidity/src/zip-hardhat.ts
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

Add recommanded profile in rust env download
  packages/core/stellar/src/zip-shared.ts
Owners: @OpenZeppelin/stellar, @OpenZeppelin/wizard

Remove duplicate workspace
  packages/core/stellar/src/zip-rust.ts
Owners: @OpenZeppelin/stellar, @OpenZeppelin/wizard

Add stellar metadata
  packages/core/stellar/src/contract.ts
  packages/core/stellar/src/set-info.ts
  packages/ui/src/stellar/InfoSection.svelte
Owners: @OpenZeppelin/stellar, @OpenZeppelin/wizard

Update test snapshot
  packages/core/stellar/src/zip-rust.compile.test.ts.md
  packages/core/stellar/src/zip-rust.compile.test.ts.snap
Owners: @OpenZeppelin/stellar, @OpenZeppelin/wizard

Add metadata for stellar contract
  .changeset/silent-bags-repair.md
  packages/core/stellar/src/contract.test.ts
  packages/core/stellar/src/contract.test.ts.md
  packages/core/stellar/src/contract.test.ts.snap
  packages/core/stellar/src/contract.ts
  packages/core/stellar/src/fungible.compile.test.ts
  packages/core/stellar/src/print.ts
  packages/core/stellar/src/set-info.ts
Owners: @OpenZeppelin/wizard, @OpenZeppelin/stellar

Revert info input label
  packages/ui/src/stellar/InfoSection.svelte
Owners: @OpenZeppelin/stellar, @OpenZeppelin/wizard

Add Hardhat Polkadot zip
  .github/actions/setup/action.yml
  .nvmrc
  packages/core/solidity/src/environments/hardhat/polkadot/package-lock.json
  packages/core/solidity/src/environments/hardhat/polkadot/package.json
  packages/core/solidity/src/zip-hardhat-polkadot.test.ts
  packages/core/solidity/src/zip-hardhat-polkadot.test.ts.md
  packages/core/solidity/src/zip-hardhat-polkadot.test.ts.snap
  packages/core/solidity/src/zip-hardhat-polkadot.ts
  packages/core/solidity/src/zip-hardhat.ts
  packages/core/solidity/zip-env-hardhat-polkadot.js
  packages/core/solidity/zip-env-hardhat-polkadot.ts
  packages/ui/src/polkadot/App.svelte
  packages/ui/src/solidity/App.svelte
  packages/ui/src/solidity/overrides.ts
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

Rename for security_contact
  packages/core/stellar/src/set-info.ts
Owners: @OpenZeppelin/stellar, @OpenZeppelin/wizard

Update .changeset/silent-bags-repair.md
  .changeset/silent-bags-repair.md
Owners: @OpenZeppelin/wizard

Throw error on already set metadata key
  packages/core/stellar/src/contract.ts
Owners: @OpenZeppelin/stellar, @OpenZeppelin/wizard

Throw error on already set metadata key
  packages/core/stellar/src/contract.test.ts
Owners: @OpenZeppelin/stellar, @OpenZeppelin/wizard

[Stellar] Rust environment download add release profile (#678)
  packages/core/stellar/src/zip-rust.compile.test.ts.md
  packages/core/stellar/src/zip-rust.compile.test.ts.snap
  packages/core/stellar/src/zip-rust.ts
  packages/core/stellar/src/zip-shared.ts
Owners: @OpenZeppelin/stellar, @OpenZeppelin/wizard

Upgrade @openzeppelin/contracts to 5.5.0-rc.0
  packages/core/solidity/package.json
  packages/core/solidity/src/account.test.ts
  packages/core/solidity/src/account.test.ts.md
  packages/core/solidity/src/account.test.ts.snap
  packages/core/solidity/src/contract.test.ts.md
  packages/core/solidity/src/contract.test.ts.snap
  packages/core/solidity/src/custom.test.ts.md
  packages/core/solidity/src/custom.test.ts.snap
  packages/core/solidity/src/environments/hardhat/package-lock.json
  packages/core/solidity/src/environments/hardhat/package.json
  packages/core/solidity/src/environments/hardhat/upgradeable/package-lock.json
  packages/core/solidity/src/environments/hardhat/upgradeable/package.json
  packages/core/solidity/src/erc1155.test.ts.md
  packages/core/solidity/src/erc1155.test.ts.snap
  packages/core/solidity/src/erc20.test.ts.md
  packages/core/solidity/src/erc20.test.ts.snap
  packages/core/solidity/src/erc721.test.ts.md
  packages/core/solidity/src/erc721.test.ts.snap
  packages/core/solidity/src/generate/account.ts
  packages/core/solidity/src/get-imports.test.ts
  packages/core/solidity/src/governor.test.ts.md
  packages/core/solidity/src/governor.test.ts.snap
  packages/core/solidity/src/set-upgradeable.ts
  packages/core/solidity/src/signer.ts
  packages/core/solidity/src/stablecoin.test.ts.md
  packages/core/solidity/src/stablecoin.test.ts.snap
  packages/core/solidity/src/utils/version.ts
  packages/core/solidity/src/zip-foundry.test.ts.md
  packages/core/solidity/src/zip-foundry.test.ts.snap
  packages/core/solidity/src/zip-hardhat.test.ts.md
  packages/core/solidity/src/zip-hardhat.test.ts.snap
  packages/ui/src/solidity/AccountControls.svelte
  yarn.lock
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

fix
  packages/common/src/ai/descriptions/solidity.ts
  packages/mcp/src/solidity/schemas.ts
Owners: @OpenZeppelin/wizard

Update packages/core/solidity/package.json
  packages/core/solidity/package.json
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

fix
  packages/ui/api/ai-assistant/function-definitions/solidity.ts
Owners: @OpenZeppelin/wizard

add changeset
  .changeset/lazy-seals-cover.md
Owners: @OpenZeppelin/wizard

snap
  packages/core/solidity/src/zip-hardhat.test.ts.md
  packages/core/solidity/src/zip-hardhat.test.ts.snap
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

Use hardhat-polkadot 0.2.0-pre1
  packages/core/solidity/src/environments/hardhat/polkadot/package-lock.json
  packages/core/solidity/src/environments/hardhat/polkadot/package.json
  packages/core/solidity/src/zip-hardhat-polkadot.ts
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

Revert "Use hardhat-polkadot 0.2.0-pre1"
  packages/core/solidity/src/environments/hardhat/polkadot/package-lock.json
  packages/core/solidity/src/environments/hardhat/polkadot/package.json
  packages/core/solidity/src/zip-hardhat-polkadot.ts
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

Remove Polkadot tab from UI
  packages/ui/public/cairo.html
  packages/ui/public/index.html
  packages/ui/public/polkadot.html
  packages/ui/public/stellar.html
  packages/ui/public/stylus.html
Owners: @OpenZeppelin/wizard

Remove Polkadot tab from UI (#682)
  packages/ui/public/cairo.html
  packages/ui/public/index.html
  packages/ui/public/polkadot.html
  packages/ui/public/stellar.html
  packages/ui/public/stylus.html
Owners: @OpenZeppelin/wizard

Add evmVersion to zip hardhat config
  packages/core/solidity/src/zip-hardhat.test.ts.md
  packages/core/solidity/src/zip-hardhat.test.ts.snap
  packages/core/solidity/src/zip-hardhat.ts
  yarn.lock
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

Update Dokerfile.prod
  packages/ui/api/ai/deno.lock
  packages/ui/api/docker-compose.yaml
  packages/ui/api/stellar/Dockerfile.prod
  packages/ui/src/stellar/App.svelte
Owners: @OpenZeppelin/wizard, @OpenZeppelin/stellar

Simplify import map
  packages/ui/import_map.json
Owners: @OpenZeppelin/wizard

Update dependenncies
  packages/ui/api/stellar/Cargo.lock
  packages/ui/api/stellar/Cargo.toml
  packages/ui/api/stellar/Dockerfile.dev
Owners: @OpenZeppelin/wizard

add rehypothecation hook and hookfee
  .gitmodules
  packages/core/uniswap-hooks/package.json
  packages/core/uniswap-hooks/src/hooks.test.ts.md
  packages/core/uniswap-hooks/src/hooks.test.ts.snap
  packages/core/uniswap-hooks/src/hooks.ts
  packages/core/uniswap-hooks/src/hooks/AntiSandwichHook.ts
  packages/core/uniswap-hooks/src/hooks/BaseAsyncSwap.ts
  packages/core/uniswap-hooks/src/hooks/BaseCustomAccounting.ts
  packages/core/uniswap-hooks/src/hooks/BaseCustomCurve.ts
  packages/core/uniswap-hooks/src/hooks/BaseDynamicAfterFee.ts
  packages/core/uniswap-hooks/src/hooks/BaseDynamicFee.ts
  packages/core/uniswap-hooks/src/hooks/BaseHook.ts
  packages/core/uniswap-hooks/src/hooks/BaseHookFee.ts
  packages/core/uniswap-hooks/src/hooks/LimitOrderHook.ts
  packages/core/uniswap-hooks/src/hooks/LiquidityPenaltyHook.ts
  packages/core/uniswap-hooks/src/hooks/ReHypothecationHook.ts
  packages/core/uniswap-hooks/src/hooks/index.ts
  packages/ui/src/uniswap-hooks/HooksControls.svelte
  packages/ui/src/uniswap-hooks/SharesControlsSection.svelte
Owners: @OpenZeppelin/wizard

Add remappings steps
  packages/ui/src/confidential/App.svelte
Owners: @OpenZeppelin/wizard

Update mcp readme
  packages/mcp/README.md
Owners: @OpenZeppelin/wizard

implemented better shares config handling in core and ui
  packages/core/uniswap-hooks/src/hooks.ts
  packages/core/uniswap-hooks/src/hooks/AntiSandwichHook.ts
  packages/core/uniswap-hooks/src/hooks/BaseAsyncSwap.ts
  packages/core/uniswap-hooks/src/hooks/BaseCustomAccounting.ts
  packages/core/uniswap-hooks/src/hooks/BaseCustomCurve.ts
  packages/core/uniswap-hooks/src/hooks/BaseDynamicAfterFee.ts
  packages/core/uniswap-hooks/src/hooks/BaseDynamicFee.ts
  packages/core/uniswap-hooks/src/hooks/BaseHook.ts
  packages/core/uniswap-hooks/src/hooks/BaseHookFee.ts
  packages/core/uniswap-hooks/src/hooks/BaseOverrideFee.ts
  packages/core/uniswap-hooks/src/hooks/LimitOrderHook.ts
  packages/core/uniswap-hooks/src/hooks/LiquidityPenaltyHook.ts
  packages/core/uniswap-hooks/src/hooks/ReHypothecationHook.ts
  packages/core/uniswap-hooks/src/hooks/index.ts
  packages/core/uniswap-hooks/src/index.ts
  packages/ui/src/common/ParentExpandableSection.svelte
  packages/ui/src/uniswap-hooks/HooksControls.svelte
  packages/ui/src/uniswap-hooks/SharesControlsSection.svelte
Owners: @OpenZeppelin/wizard

remove pool manager construction param
  packages/core/uniswap-hooks/package.json
  packages/core/uniswap-hooks/src/hooks.test.ts.md
  packages/core/uniswap-hooks/src/hooks.test.ts.snap
  packages/core/uniswap-hooks/src/hooks.ts
  packages/core/uniswap-hooks/src/hooks/AntiSandwichHook.ts
  packages/core/uniswap-hooks/src/hooks/BaseAsyncSwap.ts
  packages/core/uniswap-hooks/src/hooks/BaseCustomAccounting.ts
  packages/core/uniswap-hooks/src/hooks/BaseCustomCurve.ts
  packages/core/uniswap-hooks/src/hooks/BaseDynamicAfterFee.ts
  packages/core/uniswap-hooks/src/hooks/BaseDynamicFee.ts
  packages/core/uniswap-hooks/src/hooks/BaseHook.ts
  packages/core/uniswap-hooks/src/hooks/BaseHookFee.ts
  packages/core/uniswap-hooks/src/hooks/BaseOverrideFee.ts
  packages/core/uniswap-hooks/src/hooks/LimitOrderHook.ts
  packages/core/uniswap-hooks/src/hooks/LiquidityPenaltyHook.ts
  packages/core/uniswap-hooks/src/hooks/ReHypothecationHook.ts
  packages/core/uniswap-hooks/src/hooks/index.ts
Owners: @OpenZeppelin/wizard

Add generated tests
  .early.coverage/v8/coverage-final.json
  .gitignore
  packages/ui/api/stellar/tests/environment/zip_folder.rs
Owners: @OpenZeppelin/wizard

add tests
  packages/core/stellar/src/contract.test.ts
  packages/core/stellar/src/contract.test.ts.md
  packages/core/stellar/src/contract.test.ts.snap
  packages/core/stellar/src/print.ts
Owners: @OpenZeppelin/stellar, @OpenZeppelin/wizard

Renovate update import and package (#674)
  renovate.json
Owners: @OpenZeppelin/wizard

add dynamic inputs for hooks
  packages/core/uniswap-hooks/src/generate/hooks.ts
  packages/core/uniswap-hooks/src/hooks.test.ts.md
  packages/core/uniswap-hooks/src/hooks.test.ts.snap
  packages/core/uniswap-hooks/src/hooks.ts
  packages/core/uniswap-hooks/src/hooks/BaseCustomCurve.ts
  packages/core/uniswap-hooks/src/hooks/LiquidityPenaltyHook.ts
  packages/core/uniswap-hooks/src/hooks/index.ts
  packages/ui/src/uniswap-hooks/HooksControls.svelte
Owners: @OpenZeppelin/wizard

add hooks input tooltip, improve wizard output comments
  packages/core/uniswap-hooks/src/api.ts
  packages/core/uniswap-hooks/src/generate/hooks.ts
  packages/core/uniswap-hooks/src/hooks.test.ts
  packages/core/uniswap-hooks/src/hooks.test.ts.md
  packages/core/uniswap-hooks/src/hooks.test.ts.snap
  packages/core/uniswap-hooks/src/hooks.ts
  packages/core/uniswap-hooks/src/hooks/AntiSandwichHook.ts
  packages/core/uniswap-hooks/src/hooks/BaseCustomAccounting.ts
  packages/core/uniswap-hooks/src/hooks/BaseHookFee.ts
  packages/core/uniswap-hooks/src/hooks/LimitOrderHook.ts
  packages/core/uniswap-hooks/src/hooks/LiquidityPenaltyHook.ts
  packages/core/uniswap-hooks/src/hooks/ReHypothecationHook.ts
  packages/core/uniswap-hooks/src/hooks/index.ts
  packages/core/uniswap-hooks/src/print.ts
  packages/ui/src/uniswap-hooks/HooksControls.svelte
  yarn.lock
Owners: @OpenZeppelin/wizard

add constructionOnly contracts directive
  packages/core/solidity/src/contract.ts
  packages/core/solidity/src/print.ts
  packages/core/uniswap-hooks/package.json
  packages/core/uniswap-hooks/src/generate/hooks.ts
  packages/core/uniswap-hooks/src/hooks.test.ts.md
  packages/core/uniswap-hooks/src/hooks.test.ts.snap
  packages/core/uniswap-hooks/src/hooks.ts
  packages/core/uniswap-hooks/src/test.ts
  yarn.lock
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

lint
  packages/ui/src/common/ExpandableSection.svelte
  packages/ui/src/common/ParentExpandableSection.svelte
  packages/ui/src/uniswap-hooks/App.svelte
  packages/ui/src/uniswap-hooks/HooksControls.svelte
  packages/ui/src/uniswap-hooks/SharesControlsSection.svelte
Owners: @OpenZeppelin/wizard

Remix encoding fix (#665)
  .github/workflows/test.yml
  package.json
  packages/ui/ava.config.js
  packages/ui/package.json
  packages/ui/src/solidity/remix.test.ts
  packages/ui/src/solidity/remix.ts
  packages/ui/ts-node-register.cjs
  packages/ui/tsconfig.test.json
  yarn.lock
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts
