Repository OpenZeppelin/contracts-wizard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts, @OpenZeppelin/cairo, @OpenZeppelin/stylus, @OpenZeppelin/stellar

.github/CODEOWNERS:

# Path Owners
* @OpenZeppelin/wizard
/packages/core/solidity @OpenZeppelin/contracts @OpenZeppelin/wizard
/packages/ui/src/solidity @OpenZeppelin/contracts @OpenZeppelin/wizard
/packages/core/cairo @OpenZeppelin/cairo @OpenZeppelin/wizard
/packages/core/cairo_alpha @OpenZeppelin/cairo @OpenZeppelin/wizard
/packages/ui/src/cairo @OpenZeppelin/cairo @OpenZeppelin/wizard
/packages/ui/src/cairo_alpha @OpenZeppelin/cairo @OpenZeppelin/wizard
/packages/core/stylus @OpenZeppelin/stylus @OpenZeppelin/wizard
/packages/ui/src/stylus @OpenZeppelin/stylus @OpenZeppelin/wizard
/packages/core/stellar @OpenZeppelin/stellar @OpenZeppelin/wizard
/packages/ui/src/stellar @OpenZeppelin/stellar @OpenZeppelin/wizard

Add prepare to rollup
  packages/ui/rollup.config.mjs
Owners: @OpenZeppelin/wizard

Fix imports for version pin
  packages/core/confidential/src/utils/version.test.ts
Owners: @OpenZeppelin/wizard

lint
  packages/core/solidity/src/zip-hardhat.ts
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

fix build
  packages/core/confidential/src/zip-hardhat.test.ts
Owners: @OpenZeppelin/wizard

Batch export from solidity wizard
  packages/core/confidential/src/build-generic.ts
  packages/core/confidential/src/common-options.ts
  packages/core/confidential/src/confidentialFungible.ts
  packages/core/confidential/src/generate/confidentialFungible.ts
  packages/core/confidential/src/generate/sources.ts
  packages/core/confidential/src/print-versioned.ts
  packages/core/confidential/src/print.ts
  packages/core/confidential/src/zip-hardhat.test.ts
  packages/core/confidential/src/zip-hardhat.ts
  packages/core/solidity/src/index.ts
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

Combine import lines
  packages/core/confidential/src/confidentialFungible.ts
  packages/core/confidential/src/generate/confidentialFungible.ts
  packages/core/confidential/src/generate/sources.ts
  packages/core/confidential/src/print.ts
  packages/core/confidential/src/zip-hardhat.ts
  packages/core/solidity/src/index.ts
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

Fix lint
  packages/core/confidential/src/confidentialFungible.ts
  packages/core/confidential/src/zip-hardhat.ts
  packages/core/solidity/src/index.ts
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

Update snapshots
  packages/core/confidential/src/zip-hardhat.test.ts.md
  packages/core/confidential/src/zip-hardhat.test.ts.snap
Owners: @OpenZeppelin/wizard

Update remix code param encoding
  packages/ui/src/solidity/remix.ts
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

change type name
  packages/ui/api/ai.ts
  packages/ui/api/services/open-ai.ts
  packages/ui/api/services/redis.ts
Owners: @OpenZeppelin/wizard

remove qodo
  .qodo/testConfig.toml
Owners: @OpenZeppelin/wizard

docs: fix inaccuracies (#655)
  CONTRIBUTING.md
  packages/core/solidity/README.md
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

Extend confidential hardhat zip from solidity
  packages/core/confidential/src/zip-hardhat.ts
  packages/core/solidity/src/index.ts
  packages/core/solidity/src/zip-hardhat.ts
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

Extract test generator to class, simplify
  packages/core/confidential/src/zip-hardhat.ts
  packages/core/solidity/src/zip-hardhat.ts
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

Fix compile
  packages/core/solidity/src/zip-hardhat.ts
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

Add wizard core dependency
  packages/core/confidential/package.json
Owners: @OpenZeppelin/wizard

Update zip tests
  packages/core/confidential/src/zip-hardhat.test.ts
  packages/core/confidential/src/zip-hardhat.test.ts.md
  packages/core/confidential/src/zip-hardhat.test.ts.snap
Owners: @OpenZeppelin/wizard

Regen tests
  packages/core/confidential/src/confidentialFungible.test.ts
  packages/core/confidential/src/confidentialFungible.test.ts.md
  packages/core/confidential/src/confidentialFungible.test.ts.snap
Owners: @OpenZeppelin/wizard

Cleanup tests
  packages/core/confidential/src/confidentialFungible.test.ts
Owners: @OpenZeppelin/wizard

Update test name, snapshots
  packages/core/confidential/src/confidentialFungible.test.ts
  packages/core/confidential/src/confidentialFungible.test.ts.md
  packages/core/confidential/src/confidentialFungible.test.ts.snap
Owners: @OpenZeppelin/wizard

Update tokenURI description
  packages/common/src/ai/descriptions/confidential.ts
  packages/ui/src/confidential/ConfidentialFungibleControls.svelte
Owners: @OpenZeppelin/wizard

Update tool
  packages/mcp/src/confidential/tools.ts
Owners: @OpenZeppelin/wizard

Add changeset
  .changeset/floppy-berries-work.md
Owners: @OpenZeppelin/wizard

Create MCP inclusion tests
  packages/mcp/src/server.test.ts
Owners: @OpenZeppelin/wizard

Cleanup mcp tests
  packages/mcp/src/server.test.ts
Owners: @OpenZeppelin/wizard

Update mcp
  packages/mcp/src/server.ts
Owners: @OpenZeppelin/wizard

Update prompt
  packages/common/src/ai/descriptions/confidential.ts
Owners: @OpenZeppelin/wizard

Shorten MCP tool name
  packages/mcp/src/confidential/tools/confidentialFungible.ts
Owners: @OpenZeppelin/wizard

Update readme
  packages/core/confidential/README.md
Owners: @OpenZeppelin/wizard

Remove unneeded
  packages/core/confidential/contracts/SafetyCheck.sol
Owners: @OpenZeppelin/wizard

Remove unneeded
  packages/core/confidential/hardhat.config.js
  packages/core/confidential/remappings.txt
  packages/core/confidential/zip-env-foundry.js
  packages/core/confidential/zip-env-foundry.ts
Owners: @OpenZeppelin/wizard

Update update script
  packages/core/confidential/package.json
Owners: @OpenZeppelin/wizard

Update zip lock
  packages/core/confidential/src/environments/hardhat/package-lock.json
Owners: @OpenZeppelin/wizard

Clearly separate public and internal APIs in index
  packages/core/solidity/src/index.ts
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

Remove todo
  packages/ui/src/confidential/App.svelte
Owners: @OpenZeppelin/wizard

Remove unused devdeps
  packages/core/confidential/package.json
Owners: @OpenZeppelin/wizard

Set workspace order
  package.json
Owners: @OpenZeppelin/wizard

Add 'confidential' package to test workflow
  .github/workflows/test.yml
Owners: @OpenZeppelin/wizard

Add confidential package dep to mcp
  packages/mcp/package.json
Owners: @OpenZeppelin/wizard

Standardize capitalization
  packages/ui/api/ai.ts
  packages/ui/api/services/open-ai.ts
  packages/ui/api/services/redis.ts
Owners: @OpenZeppelin/wizard
