Repository OpenZeppelin/contracts-wizard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts, @OpenZeppelin/cairo, @OpenZeppelin/stylus, @OpenZeppelin/stellar

Add jszip to import map
  packages/ui/import_map.json
Owners: @OpenZeppelin/wizard

Update .gitignore
  .gitignore
Owners: @OpenZeppelin/wizard

Remove type
  packages/core/confidential/src/build-generic.ts
Owners: @OpenZeppelin/wizard

Restore import, add wizard to import map
  packages/core/confidential/src/build-generic.ts
  packages/ui/import_map.json
Owners: @OpenZeppelin/wizard

Revert import map changes
  packages/ui/import_map.json
Owners: @OpenZeppelin/wizard

Move generic options
  packages/core/confidential/src/build-generic.ts
  packages/core/confidential/src/generate/sources.ts
  packages/core/confidential/src/generic-options.ts
  packages/core/confidential/src/index.ts
  packages/core/confidential/src/kind.ts
  packages/core/confidential/src/test.ts
  packages/core/confidential/src/zip-hardhat.test.ts
Owners: @OpenZeppelin/wizard

Add jszip and Wizard packages to import map, since there are now interdependencies
  packages/ui/deno.lock
  packages/ui/import_map.json
Owners: @OpenZeppelin/wizard

Revert "Move generic options"
  packages/core/confidential/src/build-generic.ts
  packages/core/confidential/src/generate/sources.ts
  packages/core/confidential/src/generic-options.ts
  packages/core/confidential/src/index.ts
  packages/core/confidential/src/kind.ts
  packages/core/confidential/src/test.ts
  packages/core/confidential/src/zip-hardhat.test.ts
Owners: @OpenZeppelin/wizard

Merge info defaults
  packages/core/confidential/src/common-options.ts
  packages/core/solidity/src/common-options.ts
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

Merge additionalCompatibleLibraries
  packages/core/confidential/src/print.ts
Owners: @OpenZeppelin/wizard

Use npm ci for tests
  packages/core/confidential/src/zip-hardhat.test.ts
  packages/core/solidity/src/zip-hardhat.test.ts
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

Use array for unsafeAllow in hardhat
  packages/core/solidity/src/zip-hardhat.ts
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

Split rollup startup commands
  packages/ui/rollup.config.mjs
Owners: @OpenZeppelin/wizard

Extract premint calculation to common func
  packages/core/confidential/src/confidentialFungible.ts
  packages/core/solidity/src/erc20.ts
  packages/core/solidity/src/index.ts
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

Check premint fits in uint64
  packages/core/confidential/src/confidentialFungible.ts
  packages/core/solidity/src/erc20.ts
  packages/core/solidity/src/index.ts
  packages/core/solidity/src/utils/convert-strings.test.ts
  packages/core/solidity/src/utils/convert-strings.ts
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

Test premint with uint64
  packages/core/confidential/src/confidentialFungible.test.ts
  packages/core/confidential/src/confidentialFungible.test.ts.md
  packages/core/confidential/src/confidentialFungible.test.ts.snap
Owners: @OpenZeppelin/wizard

Assume 6 decimals
  packages/core/confidential/src/confidentialFungible.test.ts
  packages/core/confidential/src/confidentialFungible.test.ts.md
  packages/core/confidential/src/confidentialFungible.test.ts.snap
  packages/core/confidential/src/confidentialFungible.ts
Owners: @OpenZeppelin/wizard

Add test case for remixUrl
  .github/workflows/test.yml
  package.json
  packages/ui/package.json
  packages/ui/src/solidity/remix.node.test.ts
  yarn.lock
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

Update import_map.json
  packages/ui/import_map.json
Owners: @OpenZeppelin/wizard

Update package.json
  packages/ui/package.json
Owners: @OpenZeppelin/wizard

Update renovate.json
  renovate.json
Owners: @OpenZeppelin/wizard

Add changeset and update snapshots
  .changeset/afraid-grapes-repeat.md
  packages/core/solidity/src/stablecoin.test.ts.md
  packages/core/solidity/src/stablecoin.test.ts.snap
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

Update deno ai agent dependencies (#644)
  packages/ui/api/ai.ts
  packages/ui/api/services/open-ai.ts
  packages/ui/api/services/redis.ts
  packages/ui/api/utils/cors.ts
  packages/ui/deno.lock
  packages/ui/import_map.json
  packages/ui/package.json
  renovate.json
  yarn.lock
Owners: @OpenZeppelin/wizard

Add comment
  packages/core/solidity/src/utils/convert-strings.ts
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

lint
  packages/core/confidential/src/confidentialFungible.test.ts
  packages/core/solidity/src/utils/convert-strings.ts
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

Update snapshots
  packages/core/solidity/src/zip-hardhat.test.ts.md
  packages/core/solidity/src/zip-hardhat.test.ts.snap
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

Mutate opts for sanitize
  packages/ui/src/polkadot/handle-unsupported-features.ts
  packages/ui/src/solidity/App.svelte
  packages/ui/src/solidity/overrides.ts
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

Use const
  packages/ui/src/polkadot/App.svelte
Owners: @OpenZeppelin/wizard

Add comments to apps
  packages/ui/src/polkadot/App.svelte
  packages/ui/src/solidity/App.svelte
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

Add Polkadot Solidity tab (#650)
  packages/ui/api/ai-assistant/function-definitions/polkadot.ts
  packages/ui/api/ai-assistant/types/languages.ts
  packages/ui/api/ai.ts
  packages/ui/public/icons/polkadot.svg
  packages/ui/public/icons/polkadot_active.svg
  packages/ui/public/index.html
  packages/ui/public/polkadot.html
  packages/ui/public/stellar.html
  packages/ui/public/stylus.html
  packages/ui/src/common/languages-types.ts
  packages/ui/src/common/styles/vars.css
  packages/ui/src/main.ts
  packages/ui/src/polkadot/App.svelte
  packages/ui/src/polkadot/handle-unsupported-features.ts
  packages/ui/src/solidity/App.svelte
  packages/ui/src/solidity/ERC20Controls.svelte
  packages/ui/src/solidity/RealWorldAssetControls.svelte
  packages/ui/src/solidity/StablecoinControls.svelte
  packages/ui/src/solidity/overrides.ts
  packages/ui/src/solidity/remix.ts
  packages/ui/src/standalone.css
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

Use semver range for hardhat package json
  packages/core/confidential/src/environments/hardhat/package-lock.json
  packages/core/confidential/src/environments/hardhat/package.json
Owners: @OpenZeppelin/wizard

Update snapshots
  packages/core/confidential/src/zip-hardhat.test.ts.md
  packages/core/confidential/src/zip-hardhat.test.ts.snap
Owners: @OpenZeppelin/wizard

docs(core): fix grammar and parallelism
  packages/core/cairo/README.md
  packages/core/cairo_alpha/README.md
  packages/core/solidity/README.md
Owners: @OpenZeppelin/cairo, @OpenZeppelin/wizard, @OpenZeppelin/contracts

Rename UI Builder
  packages/ui/public/index.html
Owners: @OpenZeppelin/wizard

Use ava for UI tests
  package.json
  packages/ui/ava.config.js
  packages/ui/package.json
  packages/ui/src/solidity/remix.node.test.ts
  packages/ui/src/solidity/remix.test.ts
  packages/ui/src/solidity/remix.ts
  packages/ui/ts-node-register.cjs
  packages/ui/tsconfig.test.json
  yarn.lock
Owners: @OpenZeppelin/wizard, @OpenZeppelin/contracts

Apply suggestions from code review
  packages/core/cairo/README.md
  packages/core/cairo_alpha/README.md
  packages/core/solidity/README.md
Owners: @OpenZeppelin/cairo, @OpenZeppelin/wizard, @OpenZeppelin/contracts

Rename UI Builder label (#673)
  packages/ui/public/index.html
Owners: @OpenZeppelin/wizard

Group ui dpendency update (deno import_map.json and package.json)
  renovate.json
Owners: @OpenZeppelin/wizard

Use IERC2981Admin impl for AccessControlDefaultAdminRules
  packages/core/cairo_alpha/src/set-access-control.ts
  packages/core/cairo_alpha/src/set-royalty-info.ts
Owners: @OpenZeppelin/cairo, @OpenZeppelin/wizard

Add back overrideUrl
  packages/ui/src/solidity/remix.ts
Owners: @OpenZeppelin/contracts, @OpenZeppelin/wizard

.github/CODEOWNERS:

# Path Owners
* @OpenZeppelin/wizard
/packages/core/solidity @OpenZeppelin/contracts @OpenZeppelin/wizard
/packages/ui/src/solidity @OpenZeppelin/contracts @OpenZeppelin/wizard
/packages/core/cairo @OpenZeppelin/cairo @OpenZeppelin/wizard
/packages/core/cairo_alpha @OpenZeppelin/cairo @OpenZeppelin/wizard
/packages/ui/src/cairo @OpenZeppelin/cairo @OpenZeppelin/wizard
/packages/ui/src/cairo_alpha @OpenZeppelin/cairo @OpenZeppelin/wizard
/packages/core/stylus @OpenZeppelin/stylus @OpenZeppelin/wizard
/packages/ui/src/stylus @OpenZeppelin/stylus @OpenZeppelin/wizard
/packages/core/stellar @OpenZeppelin/stellar @OpenZeppelin/wizard
/packages/ui/src/stellar @OpenZeppelin/stellar @OpenZeppelin/wizard
